<% if getSubLoggedUser() %>

    <% user = getSubLoggedUser() %>
    
    <%if doSubLogout() %>
        <h2>You have successfully logged out of your <%= user[:type] %> account.</h2>
        </br>
        <h3>Redirecting...</h3>
        
        <script>
            setTimeout(function(){window.location.href="/default/index"}, 3500)
        </script>
    <% end %>
<% else %>

    <script>
        window.location.href="/default/index"
    </script>
    
<% end %>