<% loginstatus = getSubLoggedUser() %>

<h1>Child pin reset page</h1>

<% if(!loginstatus or loginstatus[:type] != "parent") %>
   <h2>You must be logged in as a parent to use this page</h2>
   <script type="text/javascript">
     window.location.href="/sublogin/?type=parent"  // put your correct path in a string here
   </script>
   
<% else %>
   <%= render 'formResetPinChild' %>
<% end %>