<script type="text/javascript">
     window.location.href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"  // put your correct path in a string here
</script>
<!--You should use sublogin now and not this page. Please don't use this page anymore-->

<h2>Enter Family PIN</h2>

This is a restricted area. Please enter PIN. <br />
<% if current_parent.pincode == '0000' %>
<br />
 The default pin is 0000.
<br />
<% end %>

<br />
<%= form_tag '/default/do_account' do %>
    <%=label_tag 'PIN Code' %>
    <%=password_field_tag 'pin', nil, :autocomplete => :off%>

    

    <div><%= submit_tag 'Enter' %></div>
<% end -%>