<h2>Change Family PIN</h2>
<br />
Please enter a new Family PIN
<br />
<%= form_tag '/default/do_change' do %>
    <%=label_tag 'PIN Code' %>
    <%=text_field_tag 'pin' , nil, :autocomplete => :off %>

    

    <div><%= submit_tag 'Enter' %></div>
<% end -%>