<h1>Change Family PIN</h1>
<br/>
<h2>Please enter a new Family PIN</h2>
<br/><center>
<%= form_tag '/default/do_change' do %>
    <h3><%=label_tag 'PIN Code' %></h3>
    <%=text_field_tag 'pin' , nil, :autocomplete => :off %>
    <div><%= submit_tag 'Enter' %></div></center>
<% end -%>