<h1>Enter Family PIN</h1>

<h2>This is a restricted area. Please enter PIN. <br/></h2>
<% if current_parent.pincode == '0000' %>
<br/>
<h3>The default pin is 0000.</h3>
<br/>
<% end %>

<br/><center>
<%= form_tag '/default/do_child' do %>
    <h3><%=label_tag 'PIN Code' %></h3>
    <%=password_field_tag 'pin', nil, :autocomplete => :off%>

    

    <div><%= submit_tag 'Enter' %></div></center>
<% end -%>