<div class="jumbotron" background='green'>
    <center>
  <h1>Let's get started!</h1>
  <p>Let's start by Adding a Child to your family...</p>
  <br />
  <p><a class="btn btn-primary btn-lg" href='#' role="button">Add Child</a></p>
  </center>
  <br />
  
<!--<%= controller_name %>-->
</div>



<!--<%= controller_name.include?('default') %>-->
