<% cookies.delete :logged %>
<div class="jumbotron">
    <center>
  <h1>Welcome to ChoreTracker!</h1>
  <p>The <i>premiere</i> family organization software.</p>
  <br />
  <p><a class="btn btn-primary btn-lg" href='/parents/sign_up' role="button">Get Started!</a></p>
  </center>
  <br />
  
<!--<%= controller_name %>-->
</div>



<!--<%= controller_name.include?('default') %>-->
