<% user = getSubLoggedUser() #sublogin enforcement%>
<%if user == false or user[:type] != "parent" #sublogin enforcement%>
   <h2>You must be logged in as a parent to use this page.</h2>
   <h2>You are being redirected...</h2>
   <script type="text/javascript">
     window.location.href="/sublogin/?type=parent"
   </script>
<%else #sublogin enforcement. Correct user type logged in%>

<h1>Editing Reward</h1>

<%= render 'form', reward: @reward %>

<%= link_to 'Show', @reward %> |
<%= link_to 'Back', rewards_path %>

<%end #Sublogin enforcement. LEAVE A NEW LINE AFTER THIS%>
