// Place all the styles related to the Chores controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.chore {
	border-bottom: 1px solid #e7e7e7;
	padding-bottom: 1.5em;
	.chore-title {
		font-family: 'Oswald', sans-serif;
		margin-top: 0;
	}
	.chore-desc {
		font-size: 1em;
	}
	.time-ago {
		color: darken(#e7e7e7, 50%);
		font-size: 0.85em;
		letter-spacing: 1.25;
	}
	.chore-sub-title {
		margin-bottom: 0;
	}
}

.chore:nth-child(n+1) {
	padding-top: 1.5em;
}