<% user = getSubLoggedUser() #sublogin enforcement%>
<%if user == false or user[:type] != "parent" #sublogin enforcement%>
<h1>You must be logged in as the parent to use this page</h1>
   <script type="text/javascript">
     window.location.href="/sublogin/?type=parent"  // put your correct path in a string here
   </script>
<%else #sublogin enforcement. Correct user type logged in%>

<h1>Editing Chore</h1>

<%= render 'form', chore: @chore %>


<%= link_to 'Back', chores_path %>

<%end #Sublogin enforcement. LEAVE A NEW LINE AFTER THIS%>
